<ul>
<% @subjects.each do |subject| %>
  <li><%= link_to(subject.name, subject_path(subject)) %> <%= link_to('Editar', edit_subject_path(subject)) %> <%= link_to('Borrar', subject_path(subject), method: :delete) %></li>
  <ul>
    <% @courses.each do |course| %>
	  <li><%= course.name %></li>
	<% end %>
  </ul>
<% end %>
</ul>

<%= button_to('Nueva asignatura', new_subject_path, method: :get) %>